﻿<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <h1>Smart House</h1>
            <p>
                Welcome to Smart House by Mohammad Tofic Mohammad.
            </p>
        </LayoutView>
    </NotFound>
</Router>
