﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
      
    </div>

    <div class="content px-4">
        <div class="container">
            <div style="width:80%;margin-left:10%;margin-top:3%;">
                @Body
            </div>
         </div>
    </div>
</div>
