﻿@page "/Light"
@using SmartHouseFrontEnd.Client.Service
@inject SharedService _sharedService
@inject AppState _appState



    <h1>Light</h1>



<p>Current User: @_appState.userName</p>
<p>Current Light: @_appState.light </p>

<div class="form-group">
    <label for="lightSlider">Slider</label>
    <input type="range" class="form-control-range" @bind="lightHook"   id="lightSlider" min="0" max="2">
    
</div>

<button class="btn btn-primary" @onclick="LightOff">Off</button>
<button class="btn btn-primary" @onclick="LightDimmed">Dimmed</button>
<button class="btn btn-primary" @onclick="LightOn">On</button>




@code {



    private async void LightOff()
    {
        _appState.SetLight(AppState.LightType.OFF);
        await _sharedService.UpdateThenGetContext();
    }


    private async void LightDimmed()
    {
        _appState.SetLight(AppState.LightType.DIMMED);
        await _sharedService.UpdateThenGetContext();
    }


    private async void  LightOn()
    {
        _appState.SetLight(AppState.LightType.ON);
        await _sharedService.UpdateThenGetContext();
    }



    int lightHook
    {
        get { return (int)_appState.light; }
        set
        {
            _appState.SetLight((AppState.LightType)value);
            _sharedService.UpdateThenGetContext();
        }
    }






    protected override void OnInitialized()
    {
        _appState.OnChange += StateHasChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        await _sharedService.GetContext();
    }

    public void Dispose()
    {
        _appState.OnChange -= StateHasChanged;
    }
}
