﻿@page "/Temperature"
@using SmartHouseFrontEnd.Client.Service
@using  System.ComponentModel.Design
@inject SharedService _sharedService
@inject AppState _appState


<h1>Temperature</h1>

<p>Current User: @_appState.userName</p>
<p>Current Temperature: @_appState.temperature</p>


<div class="form-group">
    <label for="temperatureSlider">Slider</label>
    <input type="range" class="form-control-range" @bind="temperatureHook"  id="temperatureSlider" min="0" max="30">
</div>

<button class="btn btn-primary" @onclick="DecrementTemperature">Dec</button>
<button class="btn btn-primary" @onclick="IncrementTemperature">Inc</button>



@code {

        private async void IncrementTemperature()
        {
            if (_appState.temperature < 30)
            {
                _appState.SetTemperature(_appState.temperature + 1);
                await _sharedService.UpdateThenGetContext();
            }
        }

        private async void DecrementTemperature()
        {   
            if (_appState.temperature > 0)
            {
                _appState.SetTemperature(_appState.temperature - 1);
                await _sharedService.UpdateThenGetContext();
            }
        }


        int temperatureHook
        {
            get { return _appState.temperature; }
            set
            {
                _appState.SetTemperature(value);
                _sharedService.UpdateThenGetContext();
            }
        }






    protected  override void OnInitialized()
    {
        _appState.OnChange += StateHasChanged;
    }

    protected override async Task OnInitializedAsync()
    {
        await _sharedService.GetContext();
    }

    public void Dispose()
    {
        _appState.OnChange -= StateHasChanged;
    }
}
